body {
    margin: 0;
    padding: 0;
}

.stack-area {
    width: 100%;
    height: 200vh;
    position: relative;
    display: flex;
}

.animation {
    flex-basis: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}
 
.explanation {
    flex-basis:50%;
    height: 100vh;
    position: sticky;
    top: 0;
}
.card {
    width: 450px;
    height: 800px;
    border: 2px solid #333;
    background: white;
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 175px);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.away {
    transform-origin: bottom left;
}

i, sub, var {
    display: inline !important;
}