
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Three Body Probelm</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="stack-area">
        <div class="animation">
            <form action="/run-simulation" method="post">
            <label for="values">Starting positions:</label>
            <input type="text" name="position" id="position" placeholder="x1,y1,z1,x2,y2,z2,x3,y3,z3">
            <br><br>

            <label for="values">Starting velocities:</label>
            <input type="text" name="velocity" id="velocity" placeholder="x1,y1,z1,x2,y2,z2,x3,y3,z3">
            <br><br>


            <label for="mass1">Mass 1:</label>
            <input type="range" id="mass1" name="mass1" min="0.01" max="2" step="0.01" value="1">
            <br>

            <label for="mass2">Mass 2:</label>
            <input type="range" id="mass2" name="mass2" min="0.01" max="2" step="0.01" value="1">
            <br>

            <label for="mass3">Mass 3:</label>
            <input type="range" id="mass3" name="mass3" min="0.01" max="2" step="0.01" value="1">
            <br>

            <button type="submit">Run 3-Body Simulation</button>

            </form>


            {% if video_url %}
            <video width="600" controls>
                <source src="{{ video_url }}?{{ cache_bust }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>{{ message }}</p>
            {% endif %} 
        </div>

        <div class="explanation">
            <div class="card">
                The Three Body Problem
                <br>
                The three body problem describes the motion of three bodies under mutual graviational interactions. This describes many situations in astronomy such as the motion of the Moon under the Sun and Earth's influence. 
                <br>
                While the two body system is solvable, the addition of a third body makes the mathematical equations too complex, meaning that there have been no known general solutions (a formula that can predict the future positions of all three bodies). 
                It is an example of a chaotic system, also known as the "butterfly effect" meaning that while we are able to predict it's future states, any change in force or mass can drastically affect it's output, making calculations impossible. 
                <br>
                Many cases leads to one body being eliminated through ejection or collision, which can lead to a stable two body interaction. 
                <br>
                However, there are specific situations that have been discovered to produce a stable orbit that is known to be stable.
                Another situation is as an Restricted three body problem, where one body is small enough that it can be simplified into a two body system.

            </div>
            <div class="card">
                The Mathematics
                <br>
                The three body problem is calculated through taking the positions and velocities of three point masses, which is represented as masses, that orbit each other in space, and finding their trajectories using Newton's law of motion and universal gravitation.
                <br>
                The calculations of the three body problem can be given in terms of the equations vector positions \( r_i \) of three gravitationally interacting bodies of mass \( m_i \), where G is the gravitational constant.
                <br>
                By Newton's second law, the force exerted on each of the bodies is ma=F, or \[m_i \ddot{\mathbf{r}}_i = \mathbf{F}_i\]
                <br>
                Under Newtonian Gravitation, the force on a pair of bodies is \[
                \mathbf{F}_{ij}
                =
                - G \frac{m_i m_j (\mathbf{r}_i - \mathbf{r}_j)}
                {\left| \mathbf{r}_i - \mathbf{r}_j \right|^3}
                \]
                <br>
                The resultsant force acting on any single body is the sum of the forces acting of the two other bodies: \[
                \mathbf{F}_1 = \mathbf{F}_{12} + \mathbf{F}_{13}
                \]

                \[
                \mathbf{F}_2 = \mathbf{F}_{21} + \mathbf{F}_{23}
                \]

                \[
                \mathbf{F}_3 = \mathbf{F}_{31} + \mathbf{F}_{32}
                \]
                <br>
                    By putting the first equation into this, you get:
                \[
                \begin{aligned}
                \ddot{\mathbf{r}}_{1} &= -G m_2 \frac{\mathbf{r}_1 - \mathbf{r}_2}{|\mathbf{r}_1 - \mathbf{r}_2|^3} - G m_3 \frac{\mathbf{r}_1 - \mathbf{r}_3}{|\mathbf{r}_1 - \mathbf{r}_3|^3},\\
                \ddot{\mathbf{r}}_{2} &= -G m_3 \frac{\mathbf{r}_2 - \mathbf{r}_3}{|\mathbf{r}_2 - \mathbf{r}_3|^3} - G m_1 \frac{\mathbf{r}_2 - \mathbf{r}_1}{|\mathbf{r}_2 - \mathbf{r}_1|^3},\\
                \ddot{\mathbf{r}}_{3} &= -G m_1 \frac{\mathbf{r}_3 - \mathbf{r}_1}{|\mathbf{r}_3 - \mathbf{r}_1|^3} - G m_2 \frac{\mathbf{r}_3 - \mathbf{r}_2}{|\mathbf{r}_3 - \mathbf{r}_2|^3}.
                \end{aligned}
                \]
                Each of the vector equations have three dimensions and so can be converted into 9 equations that represent direction only in one axis

            </div>
            <div class="card">
                The Code
            </div>
            khjkjkjl
            </div>
        </div>
    </div>
</body>

<script src="/static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</html>